*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    width: 60%;
    background-color: pink;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    color: rebeccapurple;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   
}

.heading{
    font-size: 35px;
    letter-spacing: 2px;
}

.joke{
    font-size: 25px;
    margin: 50px;
    }

.jokeButton{
    color: chocolate;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: gainsboro;
    text-transform: uppercase;
}

.jokeButton:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}